# Django / Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
db.sqlite3
db.sqlite3-journal
Roti/static/

# Flutter / Dart
roti_app/.dart_tool/
roti_app/.flutter-plugins
roti_app/.flutter-plugins-dependencies
roti_app/.pub-cache/
roti_app/.pub/
roti_app/build/
roti_app/.vscode/
roti_app/ios/Flutter/.last_build_id
roti_app/android/**/gradle-wrapper.jar
roti_app/android/.gradle
roti_app/android/captures/
roti_app/android/gradlew
roti_app/android/gradlew.bat
roti_app/android/local.properties
roti_app/android/**/GeneratedPluginRegistrant.java

# Keystore files
*.jks
*.keystore
key.properties
```eof